@use "../../styles/partials/typography" as *;
@use "../../styles/partials/utilities" as *;

.main-video {
  width: 100%;
  &__video-control {
    width: 100%;
    height: 100%;
  }
}

.video-details {
  padding: 1rem;

  &__title {
    color: $BrainFlix-Black;
  }

  &__divider {
    border: 1px solid $Mercury;
    background: $Mercury;
    margin: 1rem 0;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__author {
    color: $BrainFlix-Black;
  }

  &__date,
  &__userInfo {
    color: $Silver;
    font-size: 1rem;
    margin: 1rem 0;
  }

  &__views {
    margin-top: -15px;
  }

  &__views-icon,
  &__likes-icon {
    width: 25px;
    height: 25px;
  }

  &__description {
    color: $BrainFlix-Black;
  }
}
