@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/utilities" as *;

.upload-complete {
  padding: 2rem 2rem 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__header {
    text-align: center;
  }

  &__btn-cont {
    width: inherit;
    margin: auto;
  }
  &__btn {
    margin-top: 2rem;
    padding: 0 2rem;
    background: $BrainFlix-blue;
    width: 100%;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    border-radius: 4px;
    height: 3rem;
    &:hover {
      background: $BrainFlix-DarkBlue;
    }
  }
}
