@use "./styles/partials/typography" as *;
@use "./styles/partials/utilities.scss" as *;
@use "./components/Header/header.scss" as *;
@use "./components/MainVideo/mainVideo.scss" as *;
@use "./styles/partials/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "AvenirNext LT Pro";
}

